// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
// 中文(简体，中国) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_CHS)
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
#pragma code_page(936)

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,2,0
 PRODUCTVERSION 1,0,2,0
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "FileDescription", "A Convertor of Direct3D8 to Direct3D9 Rendering Functions."
            VALUE "FileVersion", "1, 0, 2, 0"
            VALUE "InternalName", "Direct3D 8 to 9"
            VALUE "LegalCopyright", "Copyright (C) 2014, actboy168"
            VALUE "OriginalFilename", "D3D8.dll"
            VALUE "ProductVersion", "1, 0, 2, 0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// RCDATA
//

PP_COLORBLOOMH.FX       RCDATA                  "..\\res\\PP_ColorBloomH.fx"
SMAA.FX                 RCDATA                  "..\\res\\SMAA.fx"
SMAA.H                  RCDATA                  "..\\res\\SMAA.h"
AREATEXDX9.DDS          RCDATA                  "..\\res\\AreaTexDX9.dds"
SEARCHTEX.DDS           RCDATA                  "..\\res\\SearchTex.dds"
PP_COLORGBLURH.FX       RCDATA                  "..\\res\\PP_ColorGBlurH.fx"
PP_COLORBLOOMV.FX       RCDATA                  "..\\res\\PP_ColorBloomV.fx"
PP_COLORGBLURV.FX       RCDATA                  "..\\res\\PP_ColorGBlurV.fx"
PP_COLORBRIGHTPASS.FX   RCDATA                  "..\\res\\PP_ColorBrightPass.fx"
PP_COLORCOMBINE.FX      RCDATA                  "..\\res\\PP_ColorCombine.fx"
PP_COLORCOMBINE2.FX     RCDATA                  "..\\res\\PP_ColorCombine2.fx"
PP_COLORCOMBINE4.FX     RCDATA                  "..\\res\\PP_ColorCombine4.fx"
PP_COLORDOWNFILTER2.FX  RCDATA                  "..\\res\\PP_ColorDownFilter2.fx"
PP_COLORDOWNFILTER4.FX  RCDATA                  "..\\res\\PP_ColorDownFilter4.fx"
PP_COLORUPFILTER2.FX    RCDATA                  "..\\res\\PP_ColorUpFilter2.fx"
PP_COLORUPFILTER4.FX    RCDATA                  "..\\res\\PP_ColorUpFilter4.fx"
PP_ColorToneMap.fx      RCDATA                  "..\\res\\PP_ColorToneMap.fx"
#endif    // 中文(简体，中国) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

